@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');
@import url('footer.css');
* {
    margin: 0;
    padding: 0;
    outline:none;
    border: none;
    box-sizing: border-box;
}

:root {
    --orange:#f87622;
    --red:#e61601;
    --white:#fff;
    --light-white:#f0f0f0;
    --grey:	#696969;
    --light-grey:#D3D3D3;
    --black:#000;
    --green:#34A853;
    --blue:#000000;
    --purple:#7B0099;
}
a {
    text-decoration: none;
    color: currentColor;
}
del {
    text-decoration: line-through;
} /*
li {
    list-style: none;
} */

body {
    width: 100%;
    height:100vh;
    margin: 0;
    padding-bottom: 120px;
    background: var(--light-white);
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* header */
header {
    width: 100%;
    display: block;
    align-items: center;
    box-shadow: 0 5px var(--light-white);
    background: var(--white);
    z-index: 200;
}
header .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2%;
    position: static;
    padding-top: 5px;
}
.top-header .other b {
    margin-right: 16px;
}
.top-header .social-icons i{
    font-size: 22px;
    margin-left: 15px;
}
.social-icons i:hover {
    transform: scale(1.2);
    cursor: pointer;
}
header .middle-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2% 0px 2%;
    position: sticky;
    top: 0;
}
.middle-header img {
    width: 140px;
    background: transparent;
}
.middle-header ul {
    display: inline-flex;
}
.middle-header ul li:hover  {
    color: var(--red);
}
.middle-header li a.active  {
    color: var(--red);
}
header li {
    list-style: none;
    margin-left: 12px;
    font-size: 17px;
    font-weight: 430;
}
.middle-header div.other{
    display: flex;
}
.middle-header .other li {
    padding: 8px 2px;
}
/*
.middle-header .other .badge {
    text-align: center;
    border-radius: 50%;
    font-size: 13px;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: 0px;
    right: -13px;
    background: var(--red);
    color: var(--white);
} */
.middle-header .other i {
    font-size: 22px;
}


/* main section */
main {
    width: 100%;
    height: auto;
    display: block;
    overflow-x: hidden;
    padding-left: 2%;
    padding-right: 2%;
}


/* page breadcramps */
.shop-breadcramps nav{
    display: flex;
    align-items: center;
    margin: 12px 0px;
}
.shop-breadcramps nav li {
    margin: 0px 12px;
    font-size: 14px;
    text-transform: capitalize;
    list-style: none;
}
.shop-breadcramps nav li:first-child {
    margin-left: 5px;
}
.shop-breadcramps nav i {
    font-size: 11px;
}
/* -------------------------------- */
.shop-breadcramps i:last-child {
    display: none;
}


/*single product container */
.single-product-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    column-gap: 20px;
    margin-bottom: 20px;
}

/* single product icons/ thumbnails */
.single-product-container .single-product-icons {
    width: 25%;
    height: 814px;
    overflow-y: scroll;
    overflow-x: hidden; 
    background: var(--white);
    display: block;
    align-self: flex-start;
}
.single-product-container .single-product-icons::-webkit-scrollbar {
    display: none;
}
.single-product-icons .thumbnails {
    background: var(--light-white);
    width: 100%;
}
.single-product-icons img {
    width: 100%;
    max-height: 300px;
    margin: 10px;
    background: var(--light-grey);
    cursor: pointer;
}
.single-product-icons img:first-child {
    margin-top: 0px;
}
.single-product-icons img:last-child {
    margin-bottom: -10px;
}
.single-product-icons img:hover {
    box-shadow: 0px 0px 5px 2px var(--light-grey);
   /* transform: scale(1.05); */
   /* cursor: zoom-out; */
}


/* ============================================================ */

/* single-product-meta / description */
.single-product-meta {
    display: block;
    align-self: flex-start;
    width: 45%;
    height: auto;
    background: var(--white);
    padding: 0 10px 10px 10px;
}

/* single product title */
.single-product-title {
    width: 100%;
    text-transform: capitalize;
}

/* single vendor name */
.single-product-vendor {
    width: 100%;
}
.single-product-vendor .vendor-name {
    color: blue;
    font-weight: 500;
    text-transform: capitalize;
}


/*  single-product-ratings */
.single-product-ratings {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.single-product-ratings i{
    color: var(--red);
}
.single-product-ratings span {
    font-size: 15px;
    font-weight: 400;
    margin-left: 18px;
}

/* single product quantity */
.single-product-quantity {
    width: 100%;
}
.single-product-quantity .quantity{
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--grey);
    padding: 4px;
    width: 45px;
    font-size: 17px;
    font-weight: 800;
}

/* single product prices */
.single-product-price {
    width: 100%;
    font-size: 30px;
}
.single-product-price del {
    margin-left: 12px;
    font-size: 23px;
}

/* SINGLE PRODUCT SHARE social icons*/
.single-product-share {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
}
.single-product-share .social-icons i {
    margin-right: 6px;
    border-radius: 50%;
    border: 1px solid var(--grey);
    padding: 3px;
    cursor: pointer;
}
.single-product-share .wishlist-btn {
    margin-right: 20px;
    font-size: 30px;
}
.single-product-share .wishlist-btn i:hover {
    font-weight: 900;
}


/* single product short decsription */
.single-product-short-description {
    width: 100%;
    line-height: 130%;
    margin: 20px 0px;
}
.single-product-short-description h3 {
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -20px;
    padding: 5px;
    text-transform: capitalize;
    border-bottom: 5px solid var(--light-white);
    border-top: 5px solid var(--light-white);
}
.single-product-short-description p{
    width: 100%;
    line-height: 120%;
    margin: 15px 0;
    font-weight: 400;
    font-size: 14px;
}

/* single product specificaitons */
.single-product-specifications {
    width: 100%;
    padding: 5px 0;
}
.single-product-specifications h3 {
    padding: 5px ;
    margin-left: -10px;
    margin-right: -10px;
    border-top:5px solid var(--light-white);
    border-bottom: 5px solid var(--light-white);
}
.single-product-specifications .product-card-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0 10px;

}
.single-product-specifications .product-card-holder .card-holder {
    width: 48%;
    margin: 1%;
}
.product-card-holder .card-holder ul li , .product-card-holder .card-holder ol li{
    width: 100%;
    font-size: 14px;
}




/*     ================================================================ */
/* single product vendor biography & OTHER STUFF*/
.single-product-aside {
    width: 26%;
    height: auto;
    background: var(--white);
    color: var(--black);
    overflow: hidden;
    display: block;
    align-self: flex-start;
    padding-bottom: 4px;
}

/* hide price button */
.single-product-aside .single-product-price{
    align-self: flex-start;
}


/* single-product-action-btn */
.single-product-aside .single-product-action-btn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--white);
    color: var(--white);
    padding: 5px;
    z-index: 200;
}
.single-product-action-btn button{
    width: 49%;
    padding: 10PX 0;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}
.single-product-action-btn .buy-btn {
    background: var(--red);
    color: var(--white);
}
.single-product-action-btn .add-to-cart-btn {
    background: var(--purple);
    color: var(--white);
}

/* single product vendor info */
.vendor-short-bio {
    margin-top: 20px;
    width: 100%;
    display: block;
    align-items: flex-start;
    padding: 0px 0px 12px 0px;
    border-top: 20px solid var(--light-white);
    border-bottom: 20px solid var(--light-white);
}
.vendor-short-bio h3{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: capitalize;
    border-bottom: 5px solid var(--light-white);
}
.vendor-short-bio .vendor-meta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 0 5px;
}
.vendor-meta .vendor-picture {
    width: 20%;
    align-self: flex-start;
    margin-right: 12px;
}
.vendor-short-bio .vendor-meta img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px dotted var(--grey);
}
.vendor-meta .block {
    width: 79%;
    display: block;
    align-self: flex-start;
}
.vendor-meta .vendor-name {
    color: blue;
    width: 100%;
    font-weight: 600;
    text-transform: capitalize;
}
.vendor-meta .block .followers{
    width: 100%;
}
.vendor-meta .block button {
    padding: 5px;
    background-color: var(--light-white);
    color: var(--green);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
}

/* vendor suggested products */
.vendor-suggested-products {
    width: 100%;
    height: 510px;
    overflow: hidden;
}
.vendor-suggested-products h3 {
    padding: 5px;
    text-transform: capitalize;
    border-bottom: 5px solid var(--light-white);
}
/* product info */
.vendor-suggested-products .product-info{
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
}
/* scrollbar product info  */
.vendor-suggested-products .product-info::-webkit-scrollbar {
    width:5px;
    height: 8px;
}
.vendor-suggested-products .product-info::-webkit-scrollbar-track {
    background: var(--light-grey); 
}

.vendor-suggested-products .product-meta{
    display: block;
    align-self: flex-start;
    width: 48%;
    padding: 5px;
    height: auto;
    margin: 1%;
    background:var(--light-white);
    border-radius: 5px;
    position: relative;
}
.vendor-suggested-products .product-info .product-meta:hover {
    transform: scale(1.05);
}
.vendor-suggested-products .product-thumbnail {
    width:100%;
    height:150px;
}
/* product icon thumbnail */
.vendor-suggested-products .product-thumbnail img{
    width:100%;
    height:100%;
}

/* product title */
.vendor-suggested-products .product-title {
    width: 100%;
    font-size: 15px;
    line-height: 110%;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--black);
    text-transform: capitalize;
}
/* product price */
.vendor-suggested-products .product-price {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    font-size: 14px;
}
.product-price span{
    line-height: 120%;
    display: block;
}
.product-price .sale-price {
    margin-right: 8px;
    font-size: 16px;
}
/* product rating */
.product-meta .product-rating {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 0;
}
.product-meta .product-rating i{
    font-size: 14px;
   /* color: var(--green); */
   color:var(--red);
}


/* =============================================================== */

/* discount percentage */
.vendor-suggested-products .discount-percentage {
    position: absolute;
    top: 3px;
    right: 3px;
    background: var(--purple);
    color: var(--white);
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 35px;
    height: 35px;
}
/* new arrivals badge */
.vendor-suggested-products .new-arrivals-badge {
    position: absolute;
    top: 0px;
    left: 0px;
    background: var(--green);
    color: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    width: auto;
    height: auto;
    border-bottom-right-radius: 18px;
}
/* wishlist badge */
.vendor-suggested-products .wishlist-badge {
    position: absolute;
    top: 45px;
    right: 5px;
    background: var(--white);
    color: var(--black);
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
 /*   font-weight: 500; */
    width: auto;
    height: auto;
}

/* =================================================================*/



/* single product ratings */
.single-product-ratings {
    display: block;
    width: 100%;
    padding: 1px;
    height: auto;
    background: var(--white);
}
.single-product-ratings .product-ratings-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-bottom: 10px solid var(--light-white);
}

/* user ratings right side */
.product-ratings-container .user-ratings{
    display: block;
    align-self: flex-start;
    justify-content: center;
    width: 35%;
    height: auto;
    padding-bottom: 10px;
    background: inherit;
}
.user-ratings .top-box {
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
}
.user-ratings .top-box div{
    display: flex;
    align-items: center;
}
.user-ratings .top-box i {
    color: var(--grey);
}
.user-ratings .top-box div label{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}
.user-ratings .top-box .checked {
    color: var(--red);
}
.user-ratings .bottom-box {
    width: 100%;
}
#star-container {
    display: flex;
    align-items: center;
    justify-items: normal;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
#star-container span:first-child {
    width: 40px;
    font-weight: 500;
    align-items: center;
}
#star-container data {
    position: absolute;
    right: 20px;
    font-size: 15px;
    letter-spacing: .5px;
}
.user-ratings progress::-webkit-progress-bar {
    border-radius: 25px;
    width: 280px;
}

/* user reviews right side */
.product-ratings-container .user-reviews{
    display: block;
    align-self: flex-start;
    justify-content: center;
    width: 64%;
    height: 400px;
    padding:0  10px;
    background: inherit;
    border-left: 10px solid var(--light-white);
    overflow: hidden;
}
/*
.product-ratings-container .user-reviews .user-custom-reviews::-webkit-scrollbar {
   /* display: none; 
}
*/

.product-ratings-container .user-reviews h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* all customers reviews */
.user-reviews .user-custom-reviews {
    width: 100%;
    height: auto;
    padding:2px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: hidden;
}
.user-custom-reviews:hover {
    background: var(--light-white);
   /* border-radius: 5px; */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.user-custom-reviews .customer-picture {
    width: 15%;
    height: 80px;
}
.user-custom-reviews img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--light-white);
    border: 5px solid var(--light-white);
    align-self: flex-start;
}
.user-custom-reviews .user-personal-review {
    display: block;
    align-self: flex-start;
    width: calc(100%-15%);
}
.user-custom-reviews .descr {
    font-size: 14px;
}



.user-personal-review div {
    width: auto;
}
.user-personal-review .customer-stars-review {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customer-stars-review div  {
    align-self: center;
}
.customer-stars-review div b {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.customer-stars-review i {
    letter-spacing: -2px;
    font-size: 14px;
}
.customer-stars-review .time{
    display: flex;
    align-self: center;
    font-size: 13px;
}
.customer-stars-review .time span {
    font-weight: 400;
}



/* customer-rating-form */
.single-product-ratings .customer-rating-form {
    display: block;
    justify-content: flex-start;
    width: 35%;
    padding:10px 20px;
    height: auto;
}
.customer-rating-form span {
    width: 100%;
    justify-self: flex-start;
}
.customer-rating-form h3 {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.customer-rating-form form {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: flex-start;
}
.customer-rating-form .star-rating-widget {
    width: 100%;
    display: flex;
    font-size: 25px;
}
.star-rating-widget input {
    display: none;
}
input:not(:checked) ~ label:hover, input:not(:checked) ~ label:hover ~ label{
    color: var(--red);
}
.star-rating-widget input:checked ~ label{
    color: var(--red);
}
.star-rating-widget input#rate-5:checked ~ label{
    color:var(--red);
}
.customer-rating-form form .input-boxs {
    width: 100%;
    border: 1px solid var(--light-white);
    padding: 10px 5px;
    margin-bottom: 7px;
    background: var(--light-white);
    color: var(--black);
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid var(--light-grey);
}
.customer-rating-form form input:focus {
    background: var(--light-white);
}
.customer-rating-form form div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.customer-rating-form form label i{
    padding: 2px;
    border-radius: 50%;
    margin-right: 5px;
    color: var(--grey);
    cursor: pointer;
}
.customer-rating-form form label i:hover , .customer-rating-form form label i:active {
    color: var(--red);
}
.customer-rating-form form button {
    width: 50%;
    padding: 10px;
    font-weight: 700;
    font-size: 17px;
    margin-top: 20px;
    background: var(--green);
    color: var(--white);
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
}
.customer-rating-form form textarea {
    resize: none;
    width: 100%;
    height: 70px;
    background: var(--light-white);
    color: var(--black);
    font-size: 15px;
    border-radius: 6px;
    padding: 2px 5px;
    border: 1px solid var(--light-grey);
}
.customer-rating-form form textarea:focus {
    background: var(--light-white);
}






/* more product details / suugestion( recommendations ) / recently viewed / wishlist products */

main .more-product-containers {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
}
main .more-product-containers:first-child {
    margin-top: 20px;
}
.more-product-containers .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 12px;
    border-radius: 5px;
    background: var(--white);
    color: var(--black);
}
.more-product-containers .header b {
    font-size: 19px;
}
/* product info */
.products-area {
    width: 100%;
    padding-bottom: 5px;
}
.product-container .product-info{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
}
/* single product container */
.product-container .product-meta{
    display: block;
    align-items:center;
    justify-content: center;
    min-width: 16%;
    padding: 5px;
    height: auto;
    margin-top: 12px;
    margin-right: 10px;
    background:var(--white);
    border-radius: 5px;
    position: relative;
}
.product-meta .product-details {
    width: 100%;
}
.more-product-containers .product-info .product-meta:hover {
    box-shadow: 0px 0px 5px 2px var(--light-grey);
    transform: scale(1.05);
}
.more-product-containers .product-thumbnail {
    width:100%;
    height:180px;
}
/* product icon thumbnail */
.product-meta .product-thumbnail img{
    width:100%;
    height:100%;
}

/* product title */
.product-title {
    width: 100%;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--black);
}
/* product price */
.product-meta .product-price {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    font-size: 14px;
}
.product-price span{
    line-height: 120%;
    display: block;
}
span.sale-price {
    margin-right: 8px;
    font-size: 22px;
}
.product-price .regular-price {
    display: none;
}
/* product rating */
.product-meta .product-rating {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 0;
}
.product-meta .product-rating i{
    font-size: 14px;
   /* color: var(--green); */
   color:var(--red);
}
/* product remaining quantity */
.product-quantity {
    width: 100%;
    height: 12px;
    background: var(--light-grey);
    border-radius: 25px;
}
.product-quantity .progress{
    width: 70%;
    height: 100%;
    background: var(--green);
    border-radius: 25px;
    font-size: 12px;
}
/* low product color */
.product-quantity .low{
    width: 15%;
    height: 100%;
    background: var(--red);
}

/* low product color */
.product-quantity .middle{
    width: 50%;
    height: 100%;
    background: #c4c41a;
}


/* =============================================================== */

/* discount percentage */
.discount-percentage {
    position: absolute;
    top: 3px;
    right: 3px;
    background: var(--purple);
    color: var(--white);
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 35px;
    height: 35px;
}
/* new arrivals badge */
.new-arrivals-badge {
    position: absolute;
    top: 0px;
    left: 0px;
    background: var(--green);
    color: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    width: auto;
    height: auto;
    border-bottom-right-radius: 18px;
}
/* wishlist badge */
.wishlist-badge {
    position: absolute;
    top: 45px;
    right: 5px;
    background: var(--white);
    color: var(--black);
    padding: 5px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    transition: 300s;
 /*   font-weight: 500; */
    width: auto;
    height: auto;
}
.product-meta:hover .wishlist-badge {
    display: flex;
}
.product-meta:hover .far-heart{
    font-weight: 900;
    color: var(--black);
}


/*  ==================================================   */


























/*
===================================================== RESPONSIVE HOMEPAGE
*/
@media only screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        width:0px;
        height: 0px;
        display: none;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background:transparent; 
    }
    body {
        height:100%;
        overflow-y: scroll;
        margin-right: 0px;
        padding-bottom: 20px;
        cursor: none;
    }
    img {
        cursor: none;
    }
    a:link, a:visited,  a:hover, a:active {
        background: transparent !important;
    }
    header {
        z-index: 1000;
        background: var(--white);
        padding: 5px 0;
        top: 0px;
        left: 0px;
        position: sticky;
    }
    header .top-header {
        margin: 0;
        display: none;
        padding: 0px 0%;
    }
    header .middle-header {
        padding: 0 0%;
        position: fixed;
        top: 0;
        background: var(--white);
        width: 100%;
        height: 50px;
    }
    .middle-header img {
        width: 140px;
    }
    .middle-header ul.menu {
        display: none;
    }
    .middle-header .other li:first-child , .other .fa-cart  {
        display: none;
    }

    /* main section */
    main {
        padding-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 35px;
        height: 100%;
        column-gap:0px;
    }
    main::-webkit-scrollbar {
        display: none;
    }

    /* breadcramps */
    .shop-breadcramps {
        display: none;
    }
    /* single product container */
    .single-product-container {
        width: 100%;
        height: 100%;
        column-gap: 0px;
    }
    /* single product icons */
    .single-product-container .single-product-icons {
        width: 100%;
        height: 260px;
        max-height: 280px;
        border-radius: 0px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 0px;
        overflow: hidden;
        background: var(--light-white);
    }
    .single-product-icons .thumbnails {
        overflow-y: hidden;
        overflow-x: scroll;
        display: flex;
        padding: 5px;
        height: 100%;
    }
    .single-product-icons .thumbnails img {
        margin: 5px;
        height: 280px;
        box-shadow: 0px 0px 0px 0px;
    }
    .single-product-icons .thumbnails img:first-child {
        margin-left: -5px;
    }
    .single-product-icons .thumbnails img:last-child {
        margin-right: -5px;
    }




    /* single product meta / middle section */
    .single-product-meta {
        width: 100%;
        padding: 0px 5px;
    }

    /* single product description */
    .single-product-short-description {
        margin: 10px 0px;
        height: 190px;
        overflow: hidden;
    }
    .single-product-short-description h3 {
        margin-left: 0px;
        margin-right: 0px;
        padding: 5px 2px;
    }


    /* single product aside / right section */
    .single-product-aside {
        width: 100%;
    }


    /* single-product-action-btn */
    .single-product-aside .single-product-action-btn {
        width: 100%;
        bottom: 0px;
        position: fixed;
    }

    /* hide price button */
    .single-product-aside .single-product-price{
        display: none;
        font-size: 0px;
        padding: 0px;
        margin: 0;
    }

    /* single product vendor info */
    .vendor-meta .vendor-picture {
        width: 25%;
        align-self: flex-start;
    }
    .vendor-meta .block {
        width: 75%;
    }

    /* scrollbar product info  */
    .vendor-suggested-products .product-info::-webkit-scrollbar {
        display: none;
    }

    /* vendor suggested products */
    .vendor-suggested-products {
        height: auto;
    }

    /* product info */
    .vendor-suggested-products .product-info{
        flex-wrap: nowrap;
    }
    /* product meta */
    .vendor-suggested-products .product-meta{
        min-width: 53%;
    }
    .vendor-suggested-products .product-meta:hover{
        box-shadow: 0px 0px 0px 0px var(--light-grey);
        transform: scale(0);
    }
    /* product thumbnail */
    .vendor-suggested-products .product-thumbnail {
        height:180px;
    }



    /* product rating area */
    .single-product-ratings .product-ratings-container {
        flex-wrap: wrap;
        padding-bottom: 5px;
    }
    .product-ratings-container .user-ratings {
        width: 100%;
        border-bottom: 7px solid var(--light-white);
    }
    .user-ratings .top-box {
        padding: 0 10px;
    }
    .user-ratings progress::-webkit-progress-bar {
        width: 200px;
    }
    /* customers reviews */
    .product-ratings-container .user-reviews {
        width: 100%;
        padding: 0 10px;
        border-left: 0px;
        height: 230px;
    }
    .user-custom-reviews:hover {
        background: var(--white);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .user-reviews .user-custom-reviews {
        overflow-y: hidden;
        overflow-x: hidden;
        float: left;
    }
    .user-custom-reviews .user-personal-review {
        margin-bottom: 6px;
        border-bottom: 1px solid var(--light-white);
    }
    .user-custom-reviews .customer-picture {
        display: none;
    }
    .user-personal-review div {
        align-items: center;
        width: auto;
    }

    /* add a review */
    .single-product-ratings .customer-rating-form {
        width: 100%;
        padding: 10px;
    }

    .customer-rating-form form button {
        width: auto;
        padding: 10px;
    }

    .customer-stars-review div b {
       width: 100px;
    }



    /* more products recommendation */


    /* single product container */
    .more-product-containers .product-meta{
        min-width: 52%;
        width: 53%;
        margin: 4px;
    }
    .more-product-containers .product-meta:hover {
        box-shadow: 0px 0px 0px 0px var(--light-grey);
        transform: scale(0);
    }
}