<!---header section -->
<header>
    <div class="top-header">
        <div class="other">
            <b>Language <i class="fa fa-angle-down"></i></b>
            <b><i class="fa-solid fa-dollar-sign"></i> Currency <i class="fa fa-angle-down"></i></b>
        </div>
        <div class="social-icons">
            <b><i class="fa fa-facebook"></i></b>
            <b><i class="fa fa-twitter"></i></b>
            <b><i class="fa fa-instagram"></i></b>
            <b><i class="fa fa-youtube"></i></b>
        </div>
    </div>
    <div class="middle-header">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
        <ul class="menu">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="#/">About Us</a></li>
            <li><a href="#/">Contact Us</a></li>
            <li><a href="#/">Help</a></li>
        </ul>
        <div class="other">
            <li><a href="#/"><i class="fa fa-heart"></i>(<span class="badgee">4</span>)</a></li>
            <li><a href="#/"><i class="far fa-user"></i></a></li>
            <li class="fa-cart" onclick="toggle()"><a href="#/"><i class="fa fa-shopping-bag"></i>($50.00)</a></li>
        </div>
    </div>
</header>