<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <meta name="description" content="E-Store serves a retail-customer base that continues to grow exponentially, offering products that span various categories including Electronics such as smart phones, laptops, subwoofer etc, Clothing, Home Appliances, Fashion bag, Baby Products, makeup and much more. Kilimall continues to expand the mall, with the scope of offerings that will increase in variety, simplicity and convenience.">
    <meta name="keywords" content="E-Store ,  Books, Online Shopping, Book Store, Magazine, Subscription, Music, CDs, DVDs, Videos, Electronics, Video Games, Computers, Cell Phones, Toys, Games, Apparel, Accessories, Shoes, Jewelry, Watches, Office Products, Sports &amp; Outdoors, Sporting Goods, Baby Products, Health, Personal Care, Beauty, Home, Garden, Bed &amp; Bath, Furniture, Tools, Hardware, Vacuums, Outdoor Living, Automotive Parts, Pet Supplies, Broadband, DSL">
    <meta name="author" content="Abraham Omondi">
    <meta http-equiv="refresh" content="">
    <script src="https://kit.fontawesome.com/7793339219.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/single-product.css">
    <title>E-Store - Affordable Online Shopping</title>
</head>
<body>
    <!---header section -->
    <header>
        <div class="top-header">
            <div class="other">
                <b>Language <i class="fa fa-angle-down"></i></b>
                <b><i class="fa-solid fa-dollar-sign"></i> Currency <i class="fa fa-angle-down"></i></b>
            </div>
            <div class="social-icons">
                <b><i class="fa fa-facebook"></i></b>
                <b><i class="fa fa-twitter"></i></b>
                <b><i class="fa fa-instagram"></i></b>
                <b><i class="fa fa-youtube"></i></b>
            </div>
        </div>
        <div class="middle-header">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="">
                </a>
            </div>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="#/">About Us</a></li>
                <li><a href="#/">Contact Us</a></li>
                <li><a href="#/">Help</a></li>
            </ul>
            <div class="other">
                <li><a href="#/"><i class="fa fa-heart"></i>(<span class="badgee">4</span>)</a></li>
                <li><a href="#/"><i class="far fa-user"></i></a></li>
                <li class="fa-cart"><a href="#/"><i class="fa fa-shopping-bag"></i>($50.00)</a></li>
            </div>
        </div>
    </header>

    <!-- main body section -->
    <main>

        <section class="single-product-ratings">
            <div class="product-ratings-container">
                <div class="user-ratings">
                    <div class="top-box">
                        <div>
                            <label for="">Customer Ratings</label>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div>
                            <b>4.3</b>&nbsp;average based on&nbsp;<b>5,432</b>&nbsp;reviews.
                        </div>
                    </div>
                    <div class="bottom-box">
                        <div class="5-star-rating" id="star-container">
                            <span>5&nbsp;<i class="fa fa-star checked"></i></span>
                            <progress value="70" max="100"></progress>
                            <data>(3,210)</data>
                        </div>
                        <div class="4-star-rating" id="star-container">
                            <span>4&nbsp;<i class="fa fa-star checked"></i></span>
                            <progress value="50" max="100"></progress>
                            <data>(1,234)</data>
                        </div>
                        <div class="3-star-rating" id="star-container">
                            <span>3&nbsp;<i class="fa fa-star checked"></i></span>
                            <progress value="40" max="100"></progress>
                            <data>(978)</data>
                        </div>
                        <div class="2-star-rating" id="star-container">
                            <span>2&nbsp;<i class="fa fa-star checked"></i></span>
                            <progress value="30" max="100"></progress>
                            <data>(10)</data>
                        </div>
                        <div class="1-star-rating" id="star-container">
                            <span>1 &nbsp;<i class="fa fa-star checked"></i></span>
                            <progress value="20" max="100"></progress>
                            <data>(0)</data>
                        </div>
                    </div>
                </div>
                <div class="user-reviews">
                    <h3>Customer Reviews</h3>
                    <!-- single customer review -->
                    <div class="user-custom-reviews">
                        <div class="customer-picture">
                            <img src="/images/user.jpg" alt="">
                        </div>
                        <div class="user-personal-review">
                            <div class="customer-stars-review">
                                <div>
                                    <b>John Doe</b>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                </div>
                                <div class="time">
                                    <span>15<sup>th</sup> | 08 | 2022</span>
                                </div>
                            </div>
                            <div class="descr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iusto, porro repellat unde quis quaerat
                            </div>
                        </div>
                    </div>
                    <div class="user-custom-reviews">
                        <div class="customer-picture">
                            <img src="/images/user1.jpg" alt="">
                        </div>
                        <div class="user-personal-review">
                            <div class="customer-stars-review">
                                <div>
                                    <b>William Stevens</b>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                </div>
                                <div class="time">
                                    <span>1<sup>st</sup> | 02 | 2022</span>
                                </div>
                            </div>
                            <div class="descr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iusto, porro repellat unde quis quaerat
                            </div>
                        </div>
                    </div>
                    <div class="user-custom-reviews">
                        <div class="customer-picture">
                            <img src="/images/user2.jpg" alt="">
                        </div>
                        <div class="user-personal-review">
                            <div class="customer-stars-review">
                                <div>
                                    <b>Susan Team</b>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                </div>
                                <div class="time">
                                    <span>15<sup>th</sup> | 08 | 2022</span>
                                </div>
                            </div>
                            <div class="descr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iusto, porro repellat unde quis quaerat
                            </div>
                        </div>
                    </div>
                    <div class="user-custom-reviews">
                        <div class="customer-picture">
                            <img src="/images/user1.jpg" alt="">
                        </div>
                        <div class="user-personal-review">
                            <div class="customer-stars-review">
                                <div>
                                    <b>William Stevens</b>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                </div>
                                <div class="time">
                                    <span>1<sup>st</sup> | 02 | 2022</span>
                                </div>
                            </div>
                            <div class="descr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iusto, porro repellat unde quis quaerat
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="customer-rating-form">
                <h3>Write your review</h3>
                <form action="" method="get">
                    <label for="">Your Ratings</label>
                    <div>
                        <label for="1 star" value="1 Star" name="star" aria-required="true"><i class="fa fa-star"></i></label>
                        <label for="2 star" value="2 Star" name="star"><i class="fa fa-star"></i></label>
                        <label for="3 star" value="3 Star" name="star"><i class="fa fa-star"></i></label>
                        <label for="4 star" value="4 Star" name="star"><i class="fa fa-star"></i></label>
                        <label for="5 star" value="5 Star" name="star"><i class="fa fa-star"></i></label>
                    </div>
                    <label for="">Name</label>
                    <input type="text" name="fullname" minlength="4" required>
                    <label for="">Email</label>
                    <input type="email" name="email" required>
                    <label for="">Opinion</label>
                    <textarea name="comment" required></textarea>
                    <button type="submit">Submit Review</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>



/* single product ratings */
.single-product-ratings {
    display: block;
    width: 100%;
    padding: 1px;
    height: auto;
    background: var(--white);
}
.single-product-ratings .product-ratings-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-bottom: 10px solid var(--light-white);
}

/* user ratings right side */
.product-ratings-container .user-ratings{
    display: block;
    align-self: flex-start;
    justify-content: center;
    width: 35%;
    height: auto;
    padding-bottom: 10px;
    background: inherit;
}
.user-ratings .top-box {
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
}
.user-ratings .top-box div{
    display: flex;
    align-items: center;
}
.user-ratings .top-box i {
    color: var(--grey);
}
.user-ratings .top-box div label{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}
.user-ratings .top-box .checked {
    color: var(--red);
}
.user-ratings .bottom-box {
    width: 100%;
}
#star-container {
    display: flex;
    align-items: center;
    justify-items: normal;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
#star-container span:first-child {
    width: 40px;
    font-weight: 500;
    align-items: center;
}
#star-container data {
    position: absolute;
    right: 20px;
    font-size: 15px;
    letter-spacing: .5px;
}
.user-ratings progress::-webkit-progress-bar {
    border-radius: 25px;
    width: 280px;
}

/* user reviews right side */
.product-ratings-container .user-reviews{
    display: block;
    align-self: flex-start;
    justify-content: center;
    width: 64%;
    height: 400px;
    padding:0  20px;
    top: 0px;
    left: 0px;
    position: sticky;
    background: inherit;
    border-left: 10px solid var(--light-white);
    overflow: hidden;
}
/*
.product-ratings-container .user-reviews .user-custom-reviews::-webkit-scrollbar {
   /* display: none; 
}
*/

.product-ratings-container .user-reviews h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.user-reviews .user-custom-reviews {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}
.user-custom-reviews .customer-picture {
    width: 15%;
}
.user-custom-reviews img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--light-white);
    border: 5px solid var(--light-white);
    align-self: flex-start;
}
.user-custom-reviews .user-personal-review {
    display: block;
    align-self: flex-start;
    width: calc(100%-15%);
}
.user-custom-reviews .descr {
    font-size: 14px;
}
.user-personal-review div {
    width: 100%;
}
.user-personal-review .customer-stars-review {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customer-stars-review i {
    letter-spacing: -2px;
    font-size: 14px;
}
.customer-stars-review .time span{
    display: flex;
    align-self: center;
    font-size: 13px;
}


/* customer-rating-form */
.single-product-ratings .customer-rating-form {
    width: 35%;
    padding:10px 20px;
    height: auto;
}
.customer-rating-form h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.customer-rating-form form {
    width: 100%;
    display: block;
}
.customer-rating-form form input {
    width: 100%;
    border: 1px solid var(--light-white);
    padding: 10px 5px;
    margin-bottom: 7px;
    background: var(--light-white);
    color: var(--black);
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid var(--light-grey);
}
.customer-rating-form form input:focus {
    background: var(--light-white);
}
.customer-rating-form form div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.customer-rating-form form label i{
    padding: 2px;
    border-radius: 50%;
    margin-right: 5px;
    color: var(--grey);
    cursor: pointer;
}
.customer-rating-form form label i:hover , .customer-rating-form form label i:active {
    color: var(--red);
}
.customer-rating-form form button {
    width: 50%;
    padding: 10px;
    font-weight: 700;
    font-size: 17px;
    margin-top: 20px;
    background: var(--green);
    color: var(--white);
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
}
.customer-rating-form form textarea {
    resize: none;
    width: 100%;
    height: 70px;
    background: var(--light-white);
    color: var(--black);
    font-size: 15px;
    border-radius: 6px;
    padding: 2px 5px;
    border: 1px solid var(--light-grey);
}
.customer-rating-form form textarea:focus {
    background: var(--light-white);
}