<div class="customer-rating-form">
    <h3>Write your review</h3>
    <form action="" method="get">
        <label>Your Ratings</label>
        <div class="star-ratings">
            <label for="1 star" value="1 Star" name="star" aria-required="true"><i class="fa fa-star"></i></label>
            <label for="2 star" value="2 Star" name="star"><i class="fa fa-star"></i></label>
            <label for="3 star" value="3 Star" name="star"><i class="fa fa-star"></i></label>
            <label for="4 star" value="4 Star" name="star"><i class="fa fa-star"></i></label>
            <label for="5 star" value="5 Star" name="star"><i class="fa fa-star"></i></label>
        </div>
        <label for="">Name</label>
        <input type="text" name="fullname" minlength="4" required>
        <label for="">Email</label>
        <input type="email" name="email" required>
        <label for="">Opinion</label>
        <textarea name="comment" required></textarea>
        <button type="submit">Submit Review</button>
    </form>
</div>